/*Kherin V. Graves*/

body {
    background-image: url(logo.jpg);
	background-repeat: repeat-y;
}

body {
 background-color: #00cc00;
}

h2 {
 background-color: green;
}

h1 {
 Background-color: green;
}

h3 {
background-color: green;
}